.eval-env/*
__pycache__/*
bpe
data
dist
eval
eval/meteor-1.5/*
eval/meteor*
human_eval/*.pdf
human_eval/*.csv
human_eval/*.xlsx
human_eval/*.png
human_eval/__pycache__/*
tmpl
stanza_ext
*.conll
lang/*
construct_hypothesis.py
human_eval/*.pdf
human_eval/*.tex
human_eval/*.csv
human_eval/*.ods
human_eval/__pycache__/
human_eval/.ipynb_checkpoints/
human_eval/sv.json
human_judgement.py
make_templates.sh
more_than2w_en_tmpl.txt
problem_squad.txt
random_indexing.py
run_bpe.sh
run_exp.sh
templates.log
src/quinductor.egg-info